.park{
  max-width: 640px;
  width: 100%;
  height: 100%;
}
.park .head{
  margin: 2% 0;
  text-align: center;
}
.park .head p{
  margin: 2% 0;
  font-size: 18px;
  font-weight: bold;
}
.park .head span{
  color: #cccccc;
}
.park .content {
  margin: 3%;
}
.park .content img {
  width: 100%;
  margin-top:3%;
}
.park .content .project{
  font-size: 18px;

}
.park img{
  width: 100%;
}
.park .content .project-introduce{
  margin-top:2%;
  text-indent: 35px;

}
@media screen and (max-width: 320px){
  .park .content .project{
    font-size: 14px;
  }
  .park .head p{
    font-size: 14px;
  }
  .park .head span{
    font-size: 12px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .park .content .project{
    font-size: 16px;
  }
  .park .head p{
    font-size: 16px;
  }
  .park .head span{
    font-size: 14px;
  }

}
@media screen and (min-width: 640px){
  .park .content .project{
    font-size: 20px;
  }
  .park .head p{
    font-size: 20px;
  }
}